<div class="btn-group">
<button type="button" class="btn-sm btn-success dropdown-toggle teampicker-email-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
	<span class="glyphicon glyphicon-envelope"></span>
		Email Players
	<span class="caret"></span>
	<span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu">
	<li>
		<a data-toggle="modal" href="#email-modal" data-teamname="All">All Applicants</a>
	</li>
	<li role="seperator" class="divider"></li>
	<li>
	<a data-toggle="modal" href="#email-modal" data-teamname="Junior's">Junior's Division</a>
	</li>
	{{#each teams2}}
	<li>
		<a data-toggle="modal" href="#email-modal" data-teamname="{{this}}">{{this}}</a>
	</li>
	{{/each}}
</ul>  
</div>