<div class="form-part6">
    
    <div class="form-group">
        <label for="username">Select a Username:</label><br>
        <input type="text" name="username" required>
    </div>
    <div class="form-group">
        <label for="password-confirm">Which division would you prefer to work with?</label><br>
        <input type="radio" name="division" value="Men's">Men's <br>
        <input type="radio" name="division" value="Women's">Women's <br>
        <input type="radio" name="division" value="Junior's">Junior's<br>
        <input type="radio" name="division" value="Men's Masters">Men's Masters <br>
        <input type="radio" name="division" value="Women's Masters">Women's Masters
    </div>
    <div class="form-group">
        <label for="password">Select a Password:</label><br>
        <input type="password" name="password" required>
    </div>
    <div class="form-group">
        <label for="password-confirm">Confirm Password:</label><br>
        <input type="password" name="password-confirm" required>
    </div>    
    <hr>
    <progress value="6" max="6"></progress><br>
  <button type="button" class="btn  back">Back</button>  

    <input type="submit" class="reg-submit-manager pull-right">
</div>