<div class="alert alert-info" role="alert">
	<strong>Great Success!</strong>
	<p>insert text here via jquery</p>
</div>

<div class="alert alert-danger" role="alert">
	<strong>Error:</strong>
	<p>insert text here via jquery</p>
</div>