
<form class="login-form" method="post" action="/admin-login">
	<div class="form-group">
		<label for="username" class="control-form">Username:
		<input type="text" name="username" class="form-control">
		<label for="password" class="control-form">Password:
		<input type="password" name="password" class="form-control">
		<hr>
		<input type="submit" class="btn-primary btn-md" value="Log In">
	</div>		
</form>