<img class="img pull-left" src='../public/images/ashi-logo.png' alt='ashi logo'>
<div class="container">
  <h1>American Street Hockey Institute</h1>
  <h2 class="center-block">Hello <em>{{admin.fullname}}!</em></h2>
  <a href="/logout"class="btn-lg btn-danger log-out">Log Out</a>
  <hr>
  <ul>
    <li><a href="/admin/assign/player"><p>Assign Player to team</p></a></li>
    <li><a href="/admin/assign/coach"><p>Assign Coach to team</p></a></li>
    <li><a href="/admin/permissions/manager"><p>View Manager's</p></a></li>
    <li><a href="/admin/permissions/admin"><p>View Other Admins</p></a></li>
    <li><a href="/admin/roster"><p>Team Rosters</p></a></li>
    <li><a href="/admin/records/player"><p>Player Records</p></a></li>
  </ul>   
</div>

<style>
 h2, .log-out{
  text-align: center;
 }
</style>