<div class="form-part1">
  <div class="form-group">
    <label for="lastname">Last name:</label><br>
    <input type="text" name="lastname" required>
  </div>
  <div class="form-group">
    <label for="firstname">First name:</label><br>
    <input type="text" name="firstname" required>
  </div>
  <div class="form-group">
    <label for="gender">Gender:</label><br>
    <input type="radio" name="gender" value="male" checked>Male
    <input type="radio" name="gender" value="female">Female
  </div>  
  <div class="form-group">
    <label for="date_of_birth">Date of Birth:</label><br>
    <input type="date" name="date_of_birth" required>
  </div>
  <div class="form-group">
    <label for="guardian_name">Name of parent/guardian:</label><br>
    <input type="text" name="guardian_name" required>
  </div>    
  <div class="form-group">
    <label for="weight">Weight:</label><br>
    <input type="number" name="weight"  min="80" max="400" placeholder="lbs" required>
  </div>
  <div class="form-group">
    <label for="feet">Height:</label><br>
    <select>
      {{#each height}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>		
  <div class="form-group">
    <label for="passport">Do you have a passport?</label><br>
    <input type="radio" name="passport" value="yes" checked>Yes
    <input type="radio" name="passport" value="no">No
  </div>
  <div class="form-group">
    <label for="passport_expiration">When does your passport expire?</label><br>
    <input type="date" name="passport_expiration" required> 
  </div>
  <div class="form-group">
    <label for="hometown">Hometown:</label><br>
    <input type="text" name="hometown" placeholder="city, state" required> 
  </div>
  <hr>
  <progress value="1" max="6"></progress><br>
  <button type="button" class="btn next">Next</button>
</div>

