
<div class="form-part2">
  <strong>Contact Info</strong>
  <div class="form-group">
    <label for="email">Email:</label><br>
    <input type="email" name="email" required>
  </div>    
  <div class="form-group">
    <label for="phone1">Primary Phone Number:</label><br>
    <input type="text" name="phone1" required>      
  </div>  
    <div class="form-group">
    <label for="phone2">Secondary Phone Number:</label><br>
    <input type="text" name="phone2">      
  </div> 
  <div class="form-group">
    <label for="guardian_phone">Parent's/Guardian's Phone Number:</label><br>
    <input type="text" name="guardian_phone" required> 
  </div>
   <div class="form-group">
    <label for="street">Street Address:</label><br>
    <input type="text" name="street" required> 
  </div>
  <div class="form-group">
    <label>City & State:</label><br>
    <input type="text" name="city" required>
    <input list="state" name="state" required>
    <datalist id="state">
      {{#each states}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div> 
  <div class="form-group">
    <label for="zipcode">Zipcode:</label><br>
    <input type="text" name="zipcode" required> 
  </div>
  <hr>
    <progress value="2" max="6"></progress><br>
  <button type="button" class="btn  back">Back</button>  
  <button type="button" class="btn next">Next</button>
</div>


