<div class="form-part6">
    <div class="form-group">
        <label for="movie">Favorite Movie:</label><br>
        <input type="text" name="movie" required>
    </div>
    <div class="form-group">
        <label for="tvshow">Favorite TV Show:</label><br>
        <input type="text" name="tvshow" required>
    </div> 
    <div class="form-group">
        <label for="athlete">Favorite Athlete:</label><br>
        <input type="text" name="athlete" required>
    </div>
    <div class="form-group">
        <label for="sports_team">Favorite Sports Team:</label><br>
        <input type="text" name="sports_team" required>
    </div>
    <div class="form-group">
        <label for="other_sport">Favorite Sport:</label><small><em>other than hockey</em></small><br>
        <input type="text" name="other_sport" required>
    </div>
    <div class="form-group">
        <label for="food">Favorite Food or Restaurant:</label><br>
        <input type="text" name="food" required>
    </div>
    <progress value="5" max="6"></progress><br>
  <button type="button" class="btn  back">Back</button>  
  <button type="button" class="btn next">Next</button>   
</div>