<div class="form-part3">
    <strong>Hockey Information</strong>
    <div class="form-group">
        <label for="team">Team you're trying out for</label><br>
        <input type="radio" name="team" value="U16" required>Juniors U16<br>
        <input type="radio" name="team" value="U18">Juniors U18<br>
        <input type="radio" name="team" value="U20">Juniors U20<br>
        <input type="radio" name="team" value="Mens">Men's Division<br>
        <input type="radio" name="team" value="Womens">Women's Division<br>
        <input type="radio" name="team" value="Masters">Men's Masters<br>
        <input type="radio" name="team" value="wMasters">Women's Masters<br>
    </div>
    <div class="form-group">
        <label for="position">Position</label><br>
            <input type="radio" name="position" value="right_wing" required>Right Wing<br>
            <input type="radio" name="position" value="left_wing">Left Wing<br>
            <input type="radio" name="position" value="center">Center<br>
            <input type="radio" name="position" value="right_defense">Right Defense<br>
            <input type="radio" name="position" value="left_defense">Left Defense<br>
            <input type="radio" name="position" value="goalie">Goaltender
        
    </div>
    <div class="form-group">
        <label for="shooting_hand">Shooting Hand:</label><br>
        <input type="radio" name="shooting_hand" value="left" required>Left
        <input type="radio" name="shooting_hand" value="right">Right
    </div>
    <div class="form-group">
        <label for="tournament_team">Tournament Team:</label><br>
        <input type="text" name="tournament_team">
    </div> 
    <div class="form-group">
        <label for="league_team">League Team:</label><br>
        <input type="text" name="league_team">
    </div>
    <div class="form-group">
        <label for="website">League or Team Website:</label><br>
        <input type="text" name="website">
    </div>
      <hr>
    <progress value="3" max="6"></progress><br>
  <button type="button" class="btn  back">Back</button>  
  <button type="button" class="btn next">Next</button>
</div>    
