<div class="form-part4">
    <div class="form-group">
        <label >Select 3 seperate jersey numbers in order of preference:</label><br>
        <input type="number" name="choice1" placeholder="First choice" min="0" max="100" size="3" required>
        <input type="number" name="choice2" placeholder="Second choice" min="0" max="100" size="3" required>
        <input type="number" name="choice3" placeholder="Third choice" min="0" max="100" size="3" required>
    </div>
    <div class="form-group">
        <label for="jersey">Jersey Size:</label><br>
        <input type="radio" name="jersey" value="sm" required>Adult SM<br>
        <input type="radio" name="jersey" value="m">Adult M<br>
        <input type="radio" name="jersey" value="l">Adult L<br>
        <input type="radio" name="jersey" value="xl">Adult XL<br> 
        <input type="radio" name="jersey" value="xxl">Adult XXL<br> 
        <input type="radio" name="jersey" value="xxxl">Adult XXXL<br>
        <input type="radio" name="jersey" value="goalie_xxl">Goaliecut XXL<br> 
        <input type="radio" name="jersey" value="goalie_xxxl">Goaliecut XXXL<br>
    </div>
    <div class="form-group">
        <label for="shorts">Shorts Size:</label><br>
        <input type="radio" name="shorts" value="sm" required>Adult SM<br>
        <input type="radio" name="shorts" value="m">Adult M<br>
        <input type="radio" name="shorts" value="l">Adult L<br>
        <input type="radio" name="shorts" value="xl">Adult XL<br> 
        <input type="radio" name="shorts" value="xxl">Adult XXL<br> 
        <input type="radio" name="shorts" value="xxxl">Adult XXXL<br>
    </div>
    <div class="form-group">
        <label for="sock">Socks Size:</label><small><em>Shin Pads will vary in size</em></small><br>
        <input type="radio" name="sock" value="m" required>Adult M<br>
        <input type="radio" name="sock" value="l">Adult L<br>
        <input type="radio" name="sock" value="xl">Adult XL<br> 
    </div>

    <progress value="4" max="7"></progress><br>
  <button type="button" class="btn  back">Back</button>  
  <button type="button" class="btn next">Next</button>  
</div>