<div class="container-fluid form-section">
    <div class="row">
        <div class="form-group col-md-3 col-md-offset-1">
            <label for="hockey_info[team]">Team you're trying out for</label><br>
            <input type="radio" name="hockey_info[team]" value="U16" required>Juniors U16<br>
            <input type="radio" name="hockey_info[team]" value="U18">Juniors U18<br>
            <input type="radio" name="hockey_info[team]" value="U20">Juniors U20<br>
            <input type="radio" name="hockey_info[team]" value="Mens">Men's Division<br>
            <input type="radio" name="hockey_info[team]" value="Womens">Women's Division<br>
            <input type="radio" name="hockey_info[team]" value="Mens_Masters">Men's Masters<br>
            <input type="radio" name="hockey_info[team]" value="Womens_Masters">Women's Masters<br>
        </div>
        <div class="form-group col-md-3 col-md-offset-1" >
            <label for="hockey_info[position]">Position:</label><br>
            <input type="radio" name="hockey_info[position]" value="right_wing" required>Right Wing<br>
            <input type="radio" name="hockey_info[position]" value="left_wing">Left Wing<br>
            <input type="radio" name="hockey_info[position]" value="center">Center<br>
            <input type="radio" name="hockey_info[position]" value="right_defense">Right Defense<br>
            <input type="radio" name="hockey_info[position]" value="left_defense">Left Defense<br>
            <input type="radio" name="hockey_info[position]" value="goalie">Goaltender
        </div>
        <div class="form-group col-md-4">
            <label for="hockey_info[shooting_hand]">Shooting Hand:</label><br>
            <input type="radio" name="hockey_info[shooting_hand]" value="left" required>Left <br>
            <input type="radio" name="hockey_info[shooting_hand]" value="right">Right
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3 col-md-offset-1">
            <label class="control-form" for="hockey_info[tournament_team]">Tournament Team:</label><br>
            <input class="form-control" type="text" name="hockey_info[tournament_team]">
        </div> 
        <div class="form-group col-md-3 col-md-offset-1">
            <label class="control-form" for="hockey_info[league_team]">League Team:</label><br>
            <input class="form-control" type="text" name="hockey_info[league_team]">
        </div>
        <div class="form-group col-md-3">
            <label class="control-form" for="hockey_info[website]">League or Team Website:</label><br>
            <input class="form-control" type="text" name="hockey_info[website]">
        </div>            
    </div>
</div>
