
	<div class="container-fluid form-section">
      {{> reg/common/name}}
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <label for="public_data[gender]">Gender:</label>
        <div class="radio">
            <label for="male">
              <input type="radio" name="public_data[gender]" id="male" value="male" checked>Male
            </label>
           </div>
           <div class="radio"> 
            <label for="female">
              <input type="radio" name="public_data[gender]" id="female" value="female">Female
            </label>        
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="public_data[weight]" class="control-form">Weight:</label>
            <input type="number" name="public_data[weight]"min="80" max="500" class="form-control" required>
        </div>
        <div class="form-group col-md-2">
          <label for="public_data[height]" class="control-form">Height:</label>
          <select name="public_data[height]" class="form-control" required>
            <option disabled selected>Select</option>
            {{#each heights}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group col-md-4" class="control-form">
          <label for="public_data[date_of_birth]">Date of Birth:</label>
          <input type="date" name="public_data[date_of_birth]" class="form-control dob" required>
        </div>        
      </div>
       {{> reg/common/passport}}
   <div class="row">
      <div class="form-group col-md-4 col-md-offset-1" >
        <label for="contact[private_data][guardian_name]" class="control-form">Parent's/Guardian's Name:</label>
        <input class="form-control guardian-field" type="text" name="contact[private_data][guardian_name]"> 
      </div>   
       <div class="form-group col-md-4 col-md-offset-2" >
        <label for="contact[private_data][guardian_phone]">Parent's/Guardian's Phone Number:</label>
        <input class="form-control guardian-field" type="text" name="contact[private_data][guardian_phone]"> 
      </div>
     </div> 
      <div class="form-group col-md-4 col-md-offset-2" >
        <label for="contact[private_data][guardian_phone]">Parent's/Guardian's Phone Number:</label>
        <input class="form-control guardian-field" type="text" name="contact[private_data][guardian_phone]"> 
      </div>
</div>
