<div class="container-fluid form-section">
    <div class="row">
        <div class="form-group col-md-3 col-md-offset-1">
            <label class="control-form" for="favorite[movie]">Favorite Movie:</label><br>
            <input type="text" class="form-control" name="favorite[movie]" required>
        </div>
        <div class="form-group col-md-3 col-md-offset-1">
            <label class="control-form" for="favorite[tv_show]">Favorite TV Show:</label><br>
            <input type="text" class="form-control" name="favorite[tv_show]" required>
        </div> 
        <div class="form-group col-md-3 col-md-offset-1">
            <label class="control-form" for="favorite[athlete]">Favorite Athlete:</label><br>
            <input type="text" class="form-control" name="favorite[athlete]" required>
        </div>
    </div> 
    <div class="row">
        <div class="form-group col-md-3 col-md-offset-1">
            <label for="favorite[sports_team]">Favorite Sports Team:</label><br>
            <input class="form-control" type="text" name="favorite[sports_team]" required>
        </div>
        <div class="form-group col-md-3 col-md-offset-1">
            <label for="favorite[other_sport]">Favorite Sport:</label><small><em>other than hockey</em></small><br>
            <input class="form-control" type="text" name="favorite[other_sport]" required>
        </div>
        <div class="form-group col-md-3 col-md-offset-1">
            <label for="favorite[food_or_restaurant]">Favorite Food or Restaurant:</label><br>
            <input class="form-control" type="text" name="favorite[food_or_restaurant]" required>
        </div>
    </div> 
    {{> reg/common/socialmedia}}
</div>
</div>
</div>


   