<div class="container-fluid form-section">
    <div class="form-group">
        <label for="background[education]" class="control-form">Education:</label>
        <textarea class="form-control" name="background[education]"></textarea>
    </div>
    <div class="form-group">
        <label for="background[hockey_history]" class="control-form">Hockey History:</label>
        <textarea class="form-control" name="background[hockey_history]"></textarea>
    </div>    
        <div class="form-group">
        <label for="background[other_sports]" class="control-form">Talk About Any Other Sports You've Played:</label>
        <textarea class="form-control" name="background[other_sports]"></textarea>
    </div>
    <div class="form-group">
        <label for="background[career_highlights]" class="control-form">Tell us about any awards or other highlights:</label>
        <textarea class="form-control" name="background[career_highlights]"></textarea>
    </div>
</div>




