{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "globals": {
    "$": 1
  },
   "rules": {
    "valid-jsdoc": ["error", {
      "requireReturn": true,
      "requireReturnType": true,
      "requireParamDescription": true,
      "requireReturnDescription": true
    }],
    "require-jsdoc": ["error", {
        "require": {
            "FunctionDeclaration": true,
            "MethodDefinition": true,
            "ClassDeclaration": true
        }
    }]
  },
  "extends": "eslint-config-airbnb"
}
