<form id="registration-form" action="/register/coach?part=4" method="post">
	<div class="container-fluid">
	  {{> reg/common/header}}  
      {{> reg/common/apparel}}
      {{> reg/common/socialmedia}}
      
  <hr>
  <progress value="3" max="6"></progress><br>
  <a href="/register/coach?part=2" class="btn btn-default">Back</a>
  <input type="submit" class="btn btn-success pull-right" value="Next">
</div>
</form>