<div class="container">
<img class="img pull-left" src='../public/images/ashi-logo.png' alt='ashi logo'>
  <h1>American Street Hockey Institute</h1>
  <hr>
  <div class="panel bg-danger" >
  <h1>{{title}}</h1>
  <h3 class="text-danger" style="text-align:center">{{message}}</h3>
  </div>
</div>