<img class="img pull-left" src='../public/images/ashi-logo.png' alt='ashi logo'>
<div class="container">
  <h1>American Street Hockey Institute</h1>
  <div class="row">
    <div class="col-md-4">
    <ul>
      <h3>Registration Forms</h3>
    <li><a href="/register/player"><p> Player Registration</p></a></li>
    <li><a href="/register/player/renew"><p>Returning Player Registration</p></a></li>
    <li><a href="/register/coach"><p> Coach Registration</p></a></li>
    <li><a href="/register/manager"><p> General Manager Registration</p></a></li>
    <li><a href="/create-admin"><p> *Admin Registration</p></a></li>
    </ul>
    </div>
    <div class="col-md-4">
  <ul>
    <h3>Admin</h3>
    <li><a href="/admin/login"><p>Admin Login</p></a></li>
    <li><a href="/admin/demo/assign/player"><p>Assign Player to team</p></a></li>
    <li><a href="/admin/demo/assign/coach"><p>Assign Coach to team</p></a></li>
    <li><a href="/admin/assign/manager"><p>Assign manager to a division</p></a></li>
    <li><a href="/admin/grant-access"><p>Grant Admin Status</p></a></li>
    <li><a href="/admin/roster"><p>Team Rosters</p></a></li>
  </ul> 
  </div>
  <div class="col-md-4"> 
    <a href="/scorecard"><h3>Scorecard</h3></a>
  </div>
</div>