    <img class="img" src='../public/images/ashi-logo.png' alt='ashi logo'>
<div class="container">
  <div class="jumbotron">
    <h1>American Street Hockey Institute</h1>
  </div>
  <a href="/register/player"><h3> Player Registration</h3></a>
  <a href="/register/coach"><h3> Coach Registration</h3></a>
  <a href="/register/manager"><h3> General Manager Registration</h3></a>
  <a href="/scorecard"><h3>Scorecard</h3></a>
</div>