<img class="img pull-left" src='../public/images/ashi-logo.png' alt='ashi logo'>
<div class="container">
  <h1>American Street Hockey Institute</h1>
  <div class="row">
    <div class="col-md-4">
    <ul>
      <h3>Registration Forms</h3>
    <li><a href="/register/player"><p> Player Registration</p></a></li>
    <li><a href="/register/player/renew"><p>Returning Player Registration</p></a></li>
    <li><a href="/register/coach"><p> Coach Registration</p></a></li>
    <li><a href="/register/manager"><p> General Manager Registration</p></a></li>
    <li><a href="/register/admin"><p> Admin Registration</p></a></li>
    </ul>
    </div>
    <div class="col-md-4">
  <ul>
    <h3>Admin</h3>
    <li><a href="/admin/index"><p>Log In (name-'admin', pw-'hockey' )</p></a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1YuSfGxRy66MShBhAETfm2RBJJ-YuMRSK0FPOBm_fFmg/edit?usp=sharing"><p>Google spreadsheet of form submissions</p> </a></li>
  </ul> 
  </div>
  <div class="col-md-4"> 
    <h3>Manager</h3>
    <li><a href="/scorecard"><p>Scorecard</p></a></li>
    <li><a href="/gm/index"><p>Log In (name-'manager', pw-'hockey' )</p></a></li>
  </div>
</div>