    <img class="img pull-left" src='../public/images/ashi-logo.png' alt='ashi logo'>
<div class="container">
  <div class="jumbotron">
    <h1>American Street Hockey Institute</h1>
  </div>
  <ul>
    <h3>Registration Forms</h3>
  <li><a href="/register/player"><p> Player Registration</p></a></li>
  <li><a href="/register/player/renew"><p>Returning Player Registration</p></a></li>
  <li><a href="/register/coach"><p> Coach Registration</p></a></li>
  <li><a href="/register/manager"><p> General Manager Registration</p></a></li>
  </ul>
  <a href="/scorecard"><h3>Scorecard</h3></a>
</div>