<img class="img pull-left" src='../public/images/ashi-logo.png' alt='ashi logo'>

<div class="container">
  <h1>American Street Hockey Institute</h1>
  <div class="row">
    <div class="col-md-4">
    <ul>
      <h3>Registration Forms</h3>
    <li><a href="/register/player"><p> Player Registration</p></a></li>
    <li><a href="/register/renew/player"><p>Returning Player Registration</p></a></li>
    <li><a href="/register/coach"><p> Coach Registration</p></a></li>
    </ul>
    </div>
    <div class="col-md-4">

    <div>
      <h3><a href = "/login">Log In</a></h3>
    </div>
  

</div>