<form class="login-form form-horizontal" method="post" action="/account/reset/{{token}}?_method=PUT">
	<div class="container-fluid">
		<div class="form-group">
			<label for="password" class="control-label col-sm-2">Password:</label>
			<div class="col-sm-10">
				<input type="password" name="password" class="form-control" required>
			</div>
		</div>		
		<div class="form-group">
			<label for="passwordConfirm" class="control-label col-sm-2">Confirm Password:</label>
			<div class="col-sm-10">
				<input type="password" name="passwordConfirm" class="form-control" required>
			</div>
		</div>
		<input type="submit" class="btn-primary btn-md pull-right" value="Log In">
		<span class="clearfix"></span>
	</div>
</form>