<div>
	<h3>Enter your email to reset your password.</h3>
</div>

<form class="login-form form-horizontal" method="post" action="/account/reset">
	<div class="container-fluid">
		{{#if error}}
			<div class="alert alert-danger" role="alert">
			<p>Sorry, we have no record of this email address.</p>
		</div>
		{{else if success}}
		<div class="alert alert-success" role="alert">
			<strong>Message Sent:</strong>
			<p>A reset link has been sent to your address.</p>
		</div>
		{{/if}}
		{{#unless success}}			
		<div class="form-group">
			<label for="email" class="control-label col-sm-2">Email:</label>
			<div class="col-sm-10">
				<input type="text" name="email" class="form-control" required>
			</div>
		</div>
		<input type="submit" class="btn-primary btn-md pull-right" value="Send Request">
		<span class="clearfix"></span>
		{{/unless}}
	</div>
</form>