    
    <div class="container">
	  <form id="registration-form" action="/register/player" method="post">
		<img class="img img-form" src='../public/images/ashi-logo.png' alt='ashi logo'>
		<hr>
		{{> reg/player/_part1}}
		{{> reg/player/_part2}}
		{{> reg/player/_part3}}
		{{> reg/player/_part4}}
		{{> reg/coach/_part5}}
		{{> reg/player/_part6}}
		{{> reg/player/_part7}}
	  </form>
    </div>