<p class="home-dropdown">Select home team</p>
<select class="home-dropdown">
	<option value="">Select Home team</option>
	{{>_teamDropdown}}
</select>

<p class="away-dropdown">Select away team</p>
<select class="away-dropdown">
	<option value="">Select Away team</option>
	{{>_teamDropdown}}
</select>

<h2>Home team</h2>
<div class="home"></div>
<h2>Away team</h2>
<div class="away"></div>

