<img src='../public/images/ashi-logo.png' alt='ashi logo'>
<div class='container-fluid'>
	<h1 class='scorecard-title'>ASHI Scorecard</h1>
		<div class="row controls">
			<div class="col-sm-12">
				<input type="text" id="flatpickr" data-input placeholder="Set game date and time">
			</div>
		</div>
		<div class="row">
	    	<div class="col-sm-6">
	       		<div class="form-group controls">
					<select class="form-control" id="home-dropdown">
						<option value="">Select Home team</option>
						{{>scorecard/_teamDropdown}}
						<option value="blank score card">blank scorecard</option>
					</select>
				</div>
				<h2 class='home-team-name'></h2>
				<div class="home-name-input"></div>
				<div class="home"></div>
			</div>
			<div class="col-sm-6">
	        	<div class="form-group controls">
					<select class="form-control" id='road-dropdown'>
						<option value="">Select Road team</option>
						{{>scorecard/_teamDropdown}}
						<option value="blank score card">blank scorecard</option>
					</select>
				</div>
				<h2 class='road-team-name'></h2>
				<div class="road-name-input"></div>
				<div class="road"></div>
			</div>
		</div>
		<div class='row'>
			<div class="col-sm-2">
				<button type='submit' class='submit-scorecard btn btn-primary'>Send to ASHI server</button>
			</div>
			<div class="col-sm-2">
				<button type='submit' class='save-to-local-disk btn btn-primary'>Save to local disk</button>
			</div>
			<div class="col-sm-6"></div>
			<div class="col-sm-2">
				<button type='submit' class='lock-unlock-scorecard btn btn-danger'>Lock controls</button>
			</div>
		</div>
		<div class='row'>
			<div class="col-sm-12 stored-games">
			</div>
		</div>
		
</div>




