<h1>ASHI Scorecard</h1>

<div class="dropdown-boxes">
	<p class='date-input'>{{currentDate}}</p>
	<p class="">Select home team</p>
	<select class="home-dropdown">
		<option value="">Select Home team</option>
		{{>_teamDropdown}}
	</select>
	
	<p class="">Select road team</p>
	<select class="road-dropdown">
		<option value="">Select road team</option>
		{{>_teamDropdown}}
	</select>
</div>

<h2 class='home-team-name'></h2>
<div class="home"></div>
<h2 class='road-team-name'></h2>
<div class="road"></div>

<button type='submit' class='submit-scorecard'>Submit</button>
<button type='submit' class='lock-unlock-scorecard'>Lock controls</button>
<button type='submit' class='show-all-players'>Show all players</button>

