<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Applications<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/admin/assign/player">Players</a></li>
    <li><a href="/admin/assign/coach">Coaches</a></li>
  </ul>          
</li>
<li><a href="/scorecard" target="_blank">Scorecard</a></li>
<li><a href="/admin/roster">Teams</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/admin/staff/manager">Managers</a></li>
    <li><a href="/admin/staff/coach">Coaches</a></li>
    <li><a href="/admin/staff/admin">Admins</a></li>
  </ul> 
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
    <ul class="dropdown-menu">
    <li><a href="/settings">Edit your info</a></li>
    <li><a href="/admin/api/search">API Examples</a></li>
  </ul> 
</li>   
<li><a href="/logout">Log Out</a></li>

