<div class="container">
    <ul class="list-group">
        {{#each applicants}}
        <li class="list-group-item">
            <a href="/admin/applications?id={{this._id}}">
                {{this.public_data.firstname}} {{this.public_data.lastname}} 
            </a>
        </li>
        {{/each}}
    </ul>
</div>