<div class="container">
    <hr>
    <hr>
    <a href="applications/player" role="button" class="btn-lg btn-warning">Download Player Applications</a>
        <a href="applications/coach" role="button" class="btn-lg btn-warning">Download Coach Applications</a>
</div>