<div class="container">
    <h3>Assign a manager to a division</h3>
    {{#if applicants}}
       <ul class="list-group">
        {{#each applicants}}
        <li class="list-group-item">
            <span>
                {{this.lastname}}, {{this.firstname}}
            </span>
                <form action="/admin/assign/manager?id={{this._id}}" method="post">
                    <select name="division">
                        <option disabled selected>Select A Division</option>
                        <option value="Men's">Men's</option>
                        <option value="Women's">Women's</option>
                        <option value="Men's Master's">Men's Master's</option>
                        <option value="Women's Master's">Women's Master's</option>
                        <option value="Junior's">Juniors</option>
                       
                    </select>
                    <input type="submit" class="demo"  value="Assign">
                </form>    
        </li>
        {{/each}}
    </ul>
    {{else}}
    <h3>Nothing here</h3>
    {{/if}}
</div>
