<div class="row">
    <div class="form-group col-md-2 col-md-offset-1  col-xs-6">
        <label for="shirt">T-Shirt Size:</label><br>
        <input type="radio" name="shirt" value="SM">Adult SM<br>
        <input type="radio" name="shirt" value="M">Adult M<br>
        <input type="radio" name="shirt" value="L">Adult L<br>
        <input type="radio" name="shirt" value="XL">Adult XL<br> 
        <input type="radio" name="shirt" value="XXL">Adult XXL<br> 
        <input type="radio" name="shirt" value="XXXL">Adult XXXL<br>
    </div>
    <div class="form-group col-md-2 col-md-offset-1 col-xs-6">
        <label for="polo">Polo Size:</label><br>
        <input type="radio" name="polo" value="SM">Adult SM<br>
        <input type="radio" name="polo" value="M">Adult M<br>
        <input type="radio" name="polo" value="L">Adult L<br>
        <input type="radio" name="polo" value="XL">Adult XL<br> 
        <input type="radio" name="polo" value="XXL">Adult XXL<br> 
        <input type="radio" name="polo" value="XXXL">Adult XXXL<br>
    </div>
    <div class="form-group col-md-2 col-md-offset-1 col-xs-6">
        <label for="jacket">Jacket Size:</label><br>
        <input type="radio" name="jacket" value="SM">Adult SM<br>
        <input type="radio" name="jacket" value="M">Adult M<br>
        <input type="radio" name="jacket" value="L">Adult L<br>
        <input type="radio" name="jacket" value="XL">Adult XL<br> 
        <input type="radio" name="jacket" value="XXL">Adult XXL<br> 
        <input type="radio" name="jacket" value="XXXL">Adult XXXL<br>
    </div>
    <div class="form-group col-md-3 col-xs-6">
        <label for="hat">Hat Size:</label><br>
        <input type="radio" name="hat" value="SM/M">Small/Medium<br>
        <input type="radio" name="hat" value="L/XL">Large/X-Large<br>
    </div>
</div>    
