  <div class="row">
      <div class="form-group col-md-4 col-md-offset-1">
        <label for="contact[email]" class="control-form">Email:</label>
        <input type="email" name="contact[email]" class="form-control">
      </div>  
      <div class=" col-md-4 col-md-offset-2">
        <label for="contact[alt_email]" class="control-form">Alternate Email:</label>
        <input type="email" name="contact[alt_email]" class="form-control">
      </div>
  </div> 
  