  <div class="row">
      <div class="form-group col-md-5 col-md-offset-1">
        <label for="email" class="control-form">Email:</label>
        <input type="email" name="email" class="form-control">
      </div>  
      <div class=" col-md-5">
        <label for="alt_email" class="control-form">Alternative Email:</label>
        <input type="email" name="alt_email" class="form-control">
      </div>
  </div>