<div class="row page-header">
	<div class="col-md-2 col-xs-hidden">
		<img class="img img-responsive img-form" src='../public/images/ashi-logo.png' alt='ashi logo'>
	</div>
	<div class="col-md-5 col-md-offset-2 col-xs-12">
		<h3>{{type}} Registration Form</h3>
	</div>
</div>