  <div class="row">
      <div class="form-group col-md-4 col-md-offset-4 col-xs-12">
        <label for="hometown">Hometown:</label><br>
        <input type="text" name="background[hometown]" class="form-control" placeholder="city, state" required> 
      </div>
  </div>