  <div class="row">
      <div class="form-group col-md-4 col-md-offset-1">
        <label for="firstname" class="control-label">First name:</label>
        <input type="text" name="firstname" class="form-control" required>
      </div>
      <div class="form-group col-md-4 col-md-offset-2">
        <label for="lastname" class="control-label">Last name:</label>
        <input type="text" name="lastname" class="form-control" required>
      </div>      
  </div>