 <div class="row"> 
  <div class="form-group col-md-4 col-md-offset-1">
    <label for="contact[passport]">Do you have a passport?</label>
    <br>
    <input type="radio" name="contact[passport]" value="yes">Yes
    <input type="radio" name="contact[passport]" value="no">No
  </div>
  <div class="form-group col-md-4 col-md-offset-2">
    <label for="contact[passport_expiration]">Passport Expiration Date:</label><br>
    <input type="date" name="contact[passport_expiration]" class="form-control" required> 
  </div>
 </div>