 <div class="row">
  <div class="form-group col-md-4 col-md-offset-1">
    <label for="contact[phone1]" class="control-form">Primary Phone Number:</label>
    <input type="text" class="form-control" name="contact[phone1]" required>      
  </div>  
    <div class="form-group col-md-4 col-md-offset-2">
    <label for="contact[phone2]" class="control-form">Secondary Phone Number:</label>
    <input type="text" class="form-control" name="contact[phone2]">      
  </div>
  </div>