 <div class="row">
  <div class="form-group col-md-4 col-md-offset-1">
    <label for="phone1" class="control-form">Primary Phone Number:</label>
    <input type="text" class="form-control" name="phone1" required>      
  </div>  
    <div class="form-group col-md-4 col-md-offset-2">
    <label for="phone2" class="control-form">Secondary Phone Number:</label>
    <input type="text" class="form-control" name="phone2">      
  </div>
  </div>