<div class="page-header">
	<h4>Fill out the following info to register for this upcoming season.</h4>	
</div>

{{#if error}}
	<div class="alert alert-danger" role="alert">
		<p><strong>Error:</strong>There is no record of any player with this name and/or email in our records. Please try again
		</p>
	</div>	
{{/if}}