<div class="page-header">
	<h2><span class='reg-type'>{{type}}</span> registration form</h2>
	<p class='message-box'>If you have a passport you will need your passport expiration date to fill out this form.</p>
</div>
