{{#if returningPlayer}}
	{{> reg/alt_header}}
{{else if admin}}
	<div class="page-header">
		<h2><span class='reg-type'>{{type}}</span> registration form</h2>
		<p class='message-box' style="border-color: #f9f9f9"></p>
	</div>
{{else}}
		<h2><span class='reg-type'>{{type}}</span> registration form</h2>
		<p class='message-box'>If you have a passport you will need your passport expiration date to fill out this form.</p>	
{{/if}}		