<hr>
<div class="form-navigation">
	<button type="button" class="previous btn btn-nav pull-left">
    	<span class="glyphicon glyphicon-chevron-left"></span>
 	</button>
    <button type="button" class="next btn btn-nav pull-right">
    	<span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    <input type="submit" class="btn btn-submit pull-right">
    <span class="clearfix"></span>
</div>  