    <div class="container">
	  <form id="registration-form" action="/register/coach" method="post">
	  	<img class="img img-form" src='../public/images/ashi-logo.png' alt='ashi logo'>
		<hr>
		{{> reg/coach/_part1}}
		{{> reg/coach/_part2}}
		{{> reg/coach/_part3}}
		{{> reg/coach/_part4}}
		{{> reg/coach/_part5}}
		{{> reg/coach/_part6}}
	  </form>
    </div>