    <div class="container">
	  <form id="registration-form" action="/register/manager" method="post">
	  	<img class="img img-form" src='../public/images/ashi-logo.png' alt='ashi logo'>
		<hr>
		{{> reg/coach/_part1}}
		{{> reg/coach/_part2}}
		{{> reg/coach/_part5}}
	    {{> reg/gm/_fields}}
		
	  </form>
    </div>