

<form id="registration-form" action="/register/player" method="post">
	<div class="container-fluid">
		<div class="row page-header">
			<div class="col-md-2 col-xs-hidden">
				<img class="img img-responsive img-form" src='../public/images/ashi-logo.png' alt='ashi logo'>
			</div>
			<div class="col-md-5 col-md-offset-2 col-xs-12">
				<h3>Player Registration Form</h3>
			</div>
		</div>
		
		{{> reg/player/_part1}}
		{{> reg/player/_part2}}
		{{> reg/player/_part3}}
		{{> reg/player/_part4}}
		{{> reg/coach/_part5}}
		{{> reg/player/_part6}}
		{{> reg/player/_part7}}
	</div>
</form>
    