    <div class="container">
	  <h4>For returning players, simply fill out the following form to register for the upcoming season.</h4>
	  <form id="registration-form" action="/renew" method="post">
      <div class="container-fluid">
     {{> reg/common/header}}    
    {{> reg/common/name}}
        <div class="row">
          <div class="form-group col-md-5 col-md-offset-4">
            <label for="email" class="control-form">Email:</label>
            <input type="email" name="email" class="form-control" required>
          </div> 
        </div>  
          <input type="submit" value="Submit">
          </div>
	  </form>
    </div>