<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/lib/bootstrap.css">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/public/lib/flatpickr.min.css">
  <link rel="stylesheet" type="text/css" href="/public/lib/toastr.css" />
	<link rel="stylesheet" type="text/css" href="/public/dist/styles.css">
  <title>ASHI Score Card</title>
</head>
<body>
  {{{body}}}
	<script src="/public/lib/jquery-2.2.4.js"></script>
	<script src="/public/lib/underscore-1.8.3-min.js"></script>
	<script src="/public/lib/bootstrap.js"></script>
	<script src="/public/lib/toastr.min.js"></script>
	<script src="/public/lib/localforage.min.js"></script>
	<script src="/public/lib/flatpickr.min.js"></script>
	<script src="/public/dist/scorecard.main.js"></script>
</body>
</html>
