<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="" />
  	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  	<link rel="stylesheet" type="text/css" href="/public/lib/flatpickr.min.css">
  	<link rel="stylesheet" type="text/css" href="/public/lib/toastr.css" />
	<link rel="stylesheet" type="text/css" href="/public/dist/styles.css">
	
    <title>ASHI</title>
</head>
<body>
	
    {{{body}}}
 	<script src="/public/lib/jquery-2.2.4.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
 	
 	<script src="/public/lib/toastr.min.js"></script>
 	<script src="/public/lib/localforage.min.js"></script>
	<script src="/public/lib/flatpickr.min.js"></script>
	<script data-main="/public/dist/main" src="/public/lib/require.js"></script>
</body>
</html>
