<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  	<link rel="stylesheet" type="text/css" href="/public/lib/toastr.css" />
	<link rel="stylesheet" type="text/css" href="/public/dist/spreadsheet.css">
    <title>A.S.H.I.</title>
</head>
<body>
	{{> nav/index}}
	<div class="container">
    {{{body}}}
    </div>
 	<script src="/public/lib/jquery-2.2.4.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
 	<script src="/public/lib/toastr.min.js"></script>
 	<script src="/public/dist/user/seasonUpdate.js"></script>
 	<script src="/public/dist/user/teampicker.js"></script>
 	<script src="/public/dist/user/permission.js"></script>
	<script src="/public/dist/user/roster.js"></script>
	<script src="/public/dist/user/email.js"></script>
</body>
</html>

