 <div class="form-part4">
    <div class="form-group">
        <label for="preparation">As a coach of Team USA ball hockey, you will be working with high caliber athletes on a world level. 
        Please describe how your past experiences have prepared you to coach Team USA (300-1000 words) </label><br>
        <textarea name="preparation"></textarea>
    </div>
    <div class="form-group">
        <label for="coaching_style">Please describe your coaching style. (150-300 words) </label><br>
        <textarea name="coaching_style"></textarea>    
    </div>
    <div class="form-group">
        <label for="why_a_good_candidate">What makes you a good candidate to coach Team USA Ball Hockey? </label><br>
        <textarea name="why_a_good_candidate"></textarea>    
    </div>
    <div class="form-group">
        <label for="create_team_atmosphere">One of the challenges of competing with Team USA is that the players on the team come from all over the country.
        Describe how you would go about forming a team atmosphere knowing you have athletes from all around the country that will only 
        train together for a few weekends before the tournament. (150-500 words)  </label><br>
        <textarea name="create_team_atmosphere"></textarea>    
    </div> 
    <div class="form-group">
        <label for="career_highlights">Career Highlights:</label><br>
        <textarea name="career_highlights"></textarea>    
    </div>      
      <hr>
    <progress value="3" max="6"></progress><br>
  <button type="button" class="btn  back">Back</button>  
  <button type="button" class="btn next">Next</button>
</div>   