<div class="form-part1">
 
 {{> common/name}}
 {{> common/email}}    
 {{> common/passport}}
   <div class="form-group">
    <label for="hometown">Hometown:</label><br>
    <input type="text" name="hometown" class="form-control"  placeholder="city, state"> 
  </div>
  <hr>
  <small>Part 1 of 6</small>
  <progress value="1" max="6"></progress><br>
  <button type="button" class="btn next">Next</button>
</div>
