<div class="form-part1">
  <div class="form-group">
    <label for="lastname">Last name:</label><br>
    <input type="text" name="lastname" >
  </div>
  <div class="form-group">
    <label for="firstname">First name:</label><br>
    <input type="text" name="firstname">
  </div>
  <div class="form-group">
    <label for="email">Email:</label><br>
    <input type="email" name="email">
  </div>  
  <div class="form-group">
    <label for="alt_email">Alternative Email:</label><br>
    <input type="email" name="alt_email">
  </div>    
  <div class="form-group">
    <label for="passport">Do you have a passport?</label><br>
    <input type="radio" name="passport" value="yes">Yes
    <input type="radio" name="passport" value="no">No
  </div>
  <div class="form-group">
    <label for="passport_expiration">Passport Expiration Date:</label><br>
    <input type="date" name="passport_expiration"> 
  </div>
  <div class="form-group">
    <label for="hometown">Hometown:</label><br>
    <input type="text" name="hometown" placeholder="city, state"> 
  </div>
  <hr>
  <progress value="1" max="6"></progress><br>
  <button type="button" class="btn next">Next</button>
</div>
