	<div class="container-fluid form-section">
        <div class="form-group">
        <label for="background[short_answers][preparation]" class="control-form">As a coach of Team USA ball hockey, you will be working with high caliber athletes on a world level. 
        Please describe how your past experiences have prepared you to coach Team USA (300-1000 words) </label>
        <textarea name="background[short_answers][preparation]" data-parsley-length="[300, 1000]" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="background[short_answers][coaching_style]" class="control-form">Please describe your coaching style. (150-300 words) </label>
        <textarea name="background[short_answers][coaching_style]" data-parsley-length="[150, 300]" class="form-control"></textarea>    
    </div>
    <div class="form-group">
        <label for="background[short_answers][why_a_good_candidate]" class="control-form">What makes you a good candidate to coach Team USA Ball Hockey? </label>
        <textarea name="background[short_answers][why_a_good_candidate]" class="form-control"></textarea>    
    </div>
    <div class="form-group">
        <label for="background[short_answers][create_team_atmosphere]" class="control-form">One of the challenges of competing with Team USA is that the players on the team come from all over the country.
        Describe how you would go about forming a team atmosphere knowing you have athletes from all around the country that will only 
        train together for a few weekends before the tournament. (150-500 words)  </label>
        <textarea name="background[short_answers][create_team_atmosphere]" data-parsley-length="[150, 500]" class="form-control"></textarea>    
    </div> 
    <div class="form-group">
        <label for="background[career_highlights]" class="control-form">Career Highlights:</label>
        <textarea name="background[career_highlights]" class="form-control"></textarea>    
    </div>  
</div>
