<div class="container">
<h2>Select a player to view/edit his or her records</h2>
	{{#each records}}
		<p>
		<a href="/admin/records/player?id={{this._id}}">
		{{this.lastname}}, {{this.firstname}}
		</a>
		</p>
	{{/each}}
</div>