<div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-label">New message</h4>
      </div>
      <div class="modal-body">  
        <form>
          <div class="form-group">
            <label for="#recipients" class="control-label">To:</label>
            <input type="text" class="form-control" id="recipients">
            <p class="help-block"><small>Seperate each address with a comma.</small></p>
          </div> 
          <div class="form-group">
            <label for="cc" class="control-label">CC:</label>
            <input type="text" class="form-control" id="cc">
          </div>                   
          <div class="form-group">
            <label for="subject" class="control-label">Subject:</label>
            <input type="text" class="form-control" id="subject">
          </div>          
          <div class="form-group">
            <label for="message-text" class="control-label">Message:</label>
            <textarea class="form-control" type="text" name="message-text" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="alert alert-danger email-error">Please make sure all email addresses are properly formatted.</div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn send-email-btn">Send message</button>
      </div>
    </div>
  </div>
</div>