<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Notes</h4>
            </div>
           	<div class="modal-body">
                <textarea rows='20' class="form-control col-xs-12"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary save-notes " data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>