<div class="modal fade" id="coach-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <form id="assign-coach" action="/admin/assign/coach?id=" disabled>
          <div class="form-group">
            <label for="role" class="control-label">Role:</label>
            <input list="role" class="form-control" name="role">
              <datalist id="role">
                <option value="Head Coach">
                <option value="Assistant Head Coach">
                <option value="Assistant Coach for Defense">
                <option value="Assistant Coach for Forwards">
              </datalist>
          </div>
          <div class="form-group">
            <label for="team" class="control-form">Team:</label>
            <select class="form-control" name="name">
              <option selected disabled></option>
              {{#each teams}}
              <option value="{{this.name}}">{{this.name}}</option>
              {{/each}}
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>