<form id="registration-form" action="/register/form?nxt=part2&type=player" method="post">
	<div class="container-fluid">
	    {{>reg/common/header}}
      {{> reg/common/name}}
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <label for="gender">Gender:</label>
        <div class="radio">
            <label for="male">
              <input type="radio" name="gender" id="male" value="male" checked>Male
            </label>
            <label for="female">
              <input type="radio" name="gender" id="female" value="female">Female
            </label>        
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="weight" class="control-form">Weight:</label>
          <div class="input-group">
            <input type="number" name="weight"  min="80" max="400" class="form-control" required>
            <div class="input-group-addon">lbs</div>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="height" class="control-form">Height:</label>
          <select name="height" class="form-control">
            {{#each heights}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group col-md-4" class="control-form">
          <label for="date_of_birth">Date of Birth:</label>
          <input type="date" name="date_of_birth" class="form-control" required>
        </div>        
      </div>
       {{> reg/common/passport}}
  <hr>
  <progress value="1" max="6"></progress><br>
  <input type="submit" value="Next">
</div>
