<form id="registration-form" action="/register/player?part=3" method="post">
	<div class="container-fluid">
	 {{>reg/common/header}} 
  {{>reg/common/email}}    
  {{>reg/common/phone}} 
  {{> reg/common/address}}
    <hr>
    <progress value="2" max="6"></progress><br>
    <a href="/register/player?part=1" class="btn btn-default">Back</a>
    <input type="submit" class="btn btn-success pull-right" value="Next">
	</div>
</form>