<form id="registration-form" action="/register/form?type=player&nxt=part5" method="post">
	<div class="container-fluid">
        {{> reg/common/apparel}}        
        <div class="row">
            <div class="form-group col-md-3 col-xs-6 col-md-offset-1">
                <label for="shorts">Shorts Size:</label><br>
                <input type="radio" name="shorts" value="S" required>Adult SM<br>
                <input type="radio" name="shorts" value="M">Adult M<br>
                <input type="radio" name="shorts" value="L">Adult L<br>
                <input type="radio" name="shorts" value="XL">Adult XL<br> 
                <input type="radio" name="shorts" value="XXL">Adult XXL<br> 
                <input type="radio" name="shorts" value="XXXL">Adult XXXL<br>
            </div>
            <div class="form-group col-md-3 col-xs-6 col-md-offset-1">
                <label for="sock">Socks Size:</label><small><em>Shin Pads will vary in size</em></small><br>
                <input type="radio" name="sock" value="M" required>Adult M<br>
                <input type="radio" name="sock" value="L">Adult L<br>
                <input type="radio" name="sock" value="XL">Adult XL<br> 
            </div>
            <div class="col-md-3">
                <div class="row">
                    <label >Select 3 jersey numbers in order of preference:</label><br>
                    <input type="number" name="choice1" placeholder="First" min="0" max="100" size="3" required><br>
                    <input type="number" name="choice2" placeholder="Second" min="0" max="100" size="3" required><br>
                    <input type="number" name="choice3" placeholder="Third" min="0" max="100" size="3" required>
                </div>
            </div>
        </div>    
      <progress value="4" max="6"></progress><br>
      <button type="button" class="btn  back">Back</button>  
      <input type="submit" class="btn next" value="Next">
    </div>
</form>