<form id="registration-form" action="/register/player?part=4" method="post">
	<div class="container-fluid">
	     {{>reg/common/header}}
	    <div class="row">
            <div class="form-group col-md-3 col-md-offset-1">
                <label for="team">Team you're trying out for</label><br>
                <input type="radio" name="team" value="U16" required>Juniors U16<br>
                <input type="radio" name="team" value="U18">Juniors U18<br>
                <input type="radio" name="team" value="U20">Juniors U20<br>
                <input type="radio" name="team" value="Mens">Men's Division<br>
                <input type="radio" name="team" value="Womens">Women's Division<br>
                <input type="radio" name="team" value="Masters">Men's Masters<br>
                <input type="radio" name="team" value="wMasters">Women's Masters<br>
            </div>
            <div class="form-group col-md-3 col-md-offset-1" >
                <label for="position">Position:</label><br>
                <input type="radio" name="position" value="right_wing" required>Right Wing<br>
                <input type="radio" name="position" value="left_wing">Left Wing<br>
                <input type="radio" name="position" value="center">Center<br>
                <input type="radio" name="position" value="right_defense">Right Defense<br>
                <input type="radio" name="position" value="left_defense">Left Defense<br>
                <input type="radio" name="position" value="goalie">Goaltender
            </div>
            <div class="form-group col-md-4">
                <label for="shooting_hand">Shooting Hand:</label><br>
                <input type="radio" name="shooting_hand" value="left" required>Left <br>
                <input type="radio" name="shooting_hand" value="right">Right
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3 col-md-offset-1">
                <label class="control-form" for="tournament_team">Tournament Team:</label><br>
                <input class="form-control" type="text" name="tournament_team">
            </div> 
            <div class="form-group col-md-3 col-md-offset-1">
                <label class="control-form" for="league_team">League Team:</label><br>
                <input class="form-control" type="text" name="league_team">
            </div>
            <div class="form-group col-md-3">
                <label class="control-form" for="website">League or Team Website:</label><br>
                <input class="form-control" type="text" name="website">
            </div>            
        </div>
      <hr>
    <progress value="3" max="6"></progress><br>
    <a href="/register/player?part=2" class="btn">Back</a> 
  <input type="submit" class="btn btn-success pull-right" value="Next">
</div>
</form>