<form id="registration-form" action="/register/player?part=6" method="post">
	<div class="container-fluid">
	     {{>reg/common/header}}
        <div class="row">
            <div class="form-group col-md-3 col-md-offset-1">
                <label class="control-form" for="movie">Favorite Movie:</label><br>
                <input type="text" class="form-control" name="movie" required>
            </div>
            <div class="form-group col-md-3 col-md-offset-1">
                <label class="control-form" for="tvshow">Favorite TV Show:</label><br>
                <input type="text" class="form-control" name="tvshow" required>
            </div> 
            <div class="form-group col-md-3 col-md-offset-1">
                <label class="control-form" for="athlete">Favorite Athlete:</label><br>
                <input type="text" class="form-control" name="athlete" required>
            </div>
        </div> 
         <div class="row">
            <div class="form-group col-md-3 col-md-offset-1">
                <label for="sports_team">Favorite Sports Team:</label><br>
                <input class="form-control" type="text" name="sports_team" required>
            </div>
            <div class="form-group col-md-3 col-md-offset-1">
                <label for="other_sport">Favorite Sport:</label><small><em>other than hockey</em></small><br>
                <input class="form-control" type="text" name="other_sport" required>
            </div>
            <div class="form-group col-md-3 col-md-offset-1">
                <label for="food">Favorite Food or Restaurant:</label><br>
                <input class="form-control" type="text" name="food" required>
            </div>
        </div> 
        {{> reg/common/socialmedia}}
        {{> reg/common/hometown}}
     <hr>    
      <progress value="5" max="6"></progress><br>
      <a href="/register/player?part=4" class="btn">Back</a>  
      <input type="submit" class="btn btn-success pull-right" value="Next">
    </div>
</form>

   