<container>
  {{#each admin}}
  	<div class="well">
  	<p>Name: {{this.firstname}} {{this.lastname}}</p><br>
  	<button class="btn-danger btn-lg new-admin" id="{{this._id}}">Grant Admin Status</button>
  	</div>
  {{/each}}
</container>