<img class="img pull-left" src='../public/images/ashi-logo.png' alt='ashi logo'>
<div class="container">
  <h1>American Street Hockey Institute</h1>
  <h2 class="center-block">Hello <em>{{gm.firstname}} {{gm.lastname}}!</em></h2>
  <a href="/logout"class="btn-lg btn-danger log-out">Log Out</a>
  <hr>
  <ul>
    <li><a href="/gm/roster"><p>View Team Rosters</p></a></li>
  </ul>   
</div>

<style>
 h2, .log-out{
  text-align: center;
 }
</style>