{{> modal/email}}
<div>
<div class="page-header">
<h1>Team Roster:
  <span class="team-roster-display"></span>
</h1>
<span class="clearfix"></span>
	<div class="form-horizontal">
		<label for="team-name">Select Team:</label>
		<select class="team-name">
			{{#each teams}}
			<option value="{{this.name}}">{{this.name}}</option>
			{{/each}}
		</select>
		<button class="email-btn" data-toggle="modal" data-target="#email-modal">Send Message To Team</button>
	</div>
</div>	
	{{#each teams}}
		<div class="team-table" data-teamname="{{this.name}}">
		{{> gm/player_table}}
		</div>
	{{/each}}

</div>