<option value="u16">U16</option>
<option value="u18">U18</option>
<option value="u20">U20</option>
<option value="womens-team-red">Women's Team Red</option>
<option value="womens-team-blue">Women's Team Blue</option>
<option value="mens-masters-team-usa">Men's Master's Team USA</option>
<option value="mens-masters-team-dc">Men's Master's Team DC</option>
<option value="womens-team-usa">Women's Team USA</option>
<option value="mens-team-usa">Men's Team USA</option>