<option value="Junior's:U16">U16</option>
<option value="Junior's:U18">U18</option>
<option value="Junior's:U20">U20</option>
<option value="Women's Master's:Women's Team Red">Women's Team Red</option>
<option value="Women's Master's:Women's Team Blue">Women's Team Blue</option>
<option value="Men's Master's:Men's Team USA">Men's Team USA (masters)</option>
<option value="Men's Master's:Men's Team DC">Men's Team DC</option>
<option value="Women's:Women's Team USA">Women's Team USA</option>
<option value="Men's:Men's Team USA">Men's Team USA</option>

